body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}
/* style.css */

/* Стили для кнопок */
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

#apply-button {
    background-color: #008CBA; /* Синий цвет фона */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убираем границы кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
    border-radius: 4px; /* Скругление углов */
    margin-top: 10px; /* Отступ сверху */
    display: block; /* Блочный элемент */
}

#apply-button:hover {
    background-color: #005f6b; /* Темно-синий цвет фона при наведении */
}
#group-select {
    padding: 5px; /* Отступы внутри элемента */
    font-size: 16px; /* Размер текста */
    border: 1px solid #ccc; /* Граница элемента */
    border-radius: 4px; /* Скругление углов */
}
/* style.css */
.add-student-button {
    margin-right: 10px; /* Добавляем пробел между кнопками */
    /* Остальные стили остаются без изменений */
}
.add-student-button,
.logout-button,
.login-button {
    background-color: #4953c6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px; /* Добавляем отступ снизу */
    float: right; /* Выравнивание кнопок справа */
}

